.DS_Store
.idea
.vscode
.wechaty/
__pycache__/
venv*
*.pyc
config.json
config_test.json
QR.png
nohup.out
tmp
plugins.json
app.spec
# itchat登录的缓存文件
itchat.pkl
*.log
user_datas.pkl
# 忽略build文件和build目录
build
dist
# 只忽略chatgpt_tool_hub目录，不忽略chatgpt_tool_hub文件
chatgpt_tool_hub/
plugins/**/
!plugins/bdunit
!plugins/dungeon
!plugins/finish
!plugins/godcmd
!plugins/tool
!plugins/banwords
!plugins/banwords/**/
!plugins/hello
!plugins/role
!plugins/keyword
# supervisord监测的进程对象的日志输出文件
stdout.log
stderr.log
# supervisord日志输出文件
supervisord.log
supervisord.pid